APP_NAME="My Smarty App"
APP_ENV=local
APP_DEBUG=true

DB_HOST=localhost
DB_NAME=apli.kasi
DB_USER=root
DB_PASS=

BASE_URL=https://apli.kasi/
ADMIN_URL=admin
SITE_TIMEZONE=Asia/Bangkok

# 1 = imgbb 2 = imgur 3 = selfhosting
UPLOAD_PLACE=3