APP_NAME="My Smarty App"
APP_ENV=local
APP_DEBUG=true

DB_HOST=localhost
DB_NAME=apli.kasi
DB_USER=root
DB_PASS=

BASE_URL=https://apli.kasi/
ADMIN_URL=admin
SITE_TIMEZONE=Asia/Bangkok

# 1  = selfhosting, 2 = imgbb 0a01990c6078e09bf1ff0883b2346f3e, 3 = imgur ca92c8b90beeac7
UPLOAD_PLACE=1
UPLOAD_PLACE_KEY=0a01990c6078e09bf1ff0883b2346f3e