APP_NAME="News App"
APP_ENV=local
APP_DEBUG=true
CSRF_SECRET=123456

DB_HOST=localhost
DB_NAME=apli.kasi
DB_USER=root
DB_PASS=

BASE_URL=https://apli.kasi/
ADMIN_URL=admin
SITE_TIMEZONE=Asia/Bangkok
SITE_ADDRESS=Indonesia
SYSTEM_EMAIL=
SITE_PHONE=62xxxx

# 587=tls 465=ssl
SMTP_HOST=smtp.gmail.com
SMTP_SENDER=
SMTP_USER=
SMTP_PASS=
SMTP_PORT=465
SMTP_SECURE=ssl

# 1  = selfhosting, 2 = imgbb , 3 = imgur 
UPLOAD_PLACE=1
UPLOAD_PLACE_KEY=