Options -Indexes

ErrorDocument 403 /?p=not_found
ErrorDocument 404 /?p=not_found

RewriteEngine On

# =========================
# ADMIN ROUTES (PRIORITAS)
# =========================
RewriteRule ^admin/?$ admin.php [L,QSA]
RewriteRule ^admin/(.*)$ admin.php/$1 [L,QSA]

# =========================
# EXISTING FILES & DIRS
# =========================
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# =========================
# PUBLIC ROUTES
# =========================
RewriteRule ^(.*)$ index.php?p=$1 [L,QSA]
